@import url('https://fonts.googleapis.com/css?family=Open+Sans|Inter|Caveat|Indie+Flower|Permanent+Marker');
html{
  box-sizing: border-box;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  background-color: aliceblue;
}
*::after,
::before {
  box-sizing: inherit;
}
header {
 background-color: rgba(31, 65, 19, 0.5);
 font-family: Caveat, "Trebuchet MS", Tahoma, sans-serif;
 color: #212121;
 margin: 20px;
 padding: 20px;
}
header p{
  margin-bottom: 10PX;
  font-family: "Indie Flower", "Trebuchet MS", Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 1000; 
}
main {
  font-family: 'Permanent Marker';
  display: grid;
  grid-template-columns: auto auto;
}
/* CLASES */
.orders-section {
  position: relative;
  height: fit-content;
  max-width: 300px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #FFF;
  border: 1px solid black;
}
.orders-section::before {
  content: '';
  background: radial-gradient(rgba(31, 65, 19, 0.5) 50%, transparent 33%) ;
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10;
  z-index: -1;
}
.orders-section ul {
  padding-left: 5px;
}
.orders-section li{
  list-style-position: inside;
  list-style-image: url("/img/icon.png");
}
.orders-section h2 {
  width: 70%;
  border-bottom: 2px dashed rgba(31, 65, 19, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.bird-section {
  margin-top: 50px;
}
.bird-section form {
  margin-bottom: 30px;
}
/* FIN CLASES */

/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
  html {
    
  }
  
}
@media only screen and (max-width: 600px){
 
  header {
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
  .bird-section{
    order: 1;
  }
  .orders-section{
    order: 2;
    margin-top: 20px !important;
    margin-bottom: 60px;
  }
  .orders-section h2{
    font-size: 1em;
  } 
  .notes-section{
    order: 3;
  }
}
@media only screen and (min-width: 768px){
  html {
  }
  
}
@media only screen and (max-width: 768px){
  
}
@media only screen and (min-width: 992px){
  html {
  }
}
@media only screen and (min-width: 1200px){
}
/* FIN MEDIA QUERIES */