@import url('https://fonts.googleapis.com/css?family=Open+Sans|Inter|Caveat|Indie+Flower');
*{
  font-family: "Trebuchet MS", Tahoma, sans-serif !important;
}
.orders-section li{
  list-style-position: inside;
  list-style-image: url("/img/icon.png");
}
@media (max-width: 780px){
  main {
    display: flex !important;
    flex-direction: column;
  }
  .bird-section{
    order: 1;
  }
  .orders-section{
    order: 2;
  }
  .notes-section{
    order: 3;
  }
}