@import url('https://fonts.googleapis.com/css?family=Open+Sans|Inter|Caveat|Indie+Flower');
html{
  box-sizing: border-box;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}
*::after,
::before {
  box-sizing: inherit;
}
header {
 background-color: rgba(31, 65, 19, 0.5);
 font-family: Caveat, "Trebuchet MS", Tahoma, sans-serif;
 color: white;
 margin: 20px;
 padding: 20px;
}
header p{
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-weight: 1000; 
}

/* CLASES */
.orders-section {
  margin-top: 100px;
}
.orders-section li{
  list-style-position: inside;
  list-style-image: url("/img/icon.png");
}
.orders-section h2 {
  width: 60%;
  text-align: center;
}
.bird-section {
  margin-top: 50px;
}
.bird-section form {
  margin-bottom: 30px;
}
/* FIN CLASES */

/* MEDIA QUERIES */
@media only screen and (min-width: 600px){}
@media only screen and (max-width: 600px){
  header {
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
  .bird-section{
    order: 1;
  }
  .orders-section{
    order: 2;
    margin-bottom: 60px;
  }
  .notes-section{
    order: 3;
  }
}
@media only screen and (max-width: 992px){}
@media only screen and (max-width: 1200px){}
/* FIN MEDIA QUERIES */