@import url('https://fonts.googleapis.com/css?family=Open+Sans|Inter|Caveat|Indie+Flower|Permanent+Marker');
html{
  box-sizing: border-box;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  background-color: aliceblue;
}
*::after,
::before {
  box-sizing: inherit;
}
header {
 background-color: rgba(31, 65, 19, 0.5);
 font-family: Caveat, "Trebuchet MS", Tahoma, sans-serif;
 color: #212121;
 margin: 20px;
 padding: 20px;
}
header p{
  margin-bottom: 10PX;
  font-family: "Indie Flower", "Trebuchet MS", Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 1000; 
}
main {
  font-family: 'Permanent Marker';
  display: flex;
  flex-direction: column;
}
/* CLASES */
.row {
  display: flex;
}
.box {
  flex: 1;
}
.full {
  width: 100%;
}
.orders-section {
  position: relative;
  height: fit-content;
  max-width: 300px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #FFF;
  border: 1px solid black;
}
.orders-section::before {
  content: '';
  background: radial-gradient(rgba(31, 65, 19, 0.5) 50%, transparent 33%) ;
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10;
  z-index: -1;
}
.orders-section ul {
  padding-left: 5px;
}
.orders-section li{
  list-style-position: inside;
  list-style-image: url("/img/icon.png");
}
.orders-section h2 {
  width: 70%;
  border-bottom: 2px dashed rgba(31, 65, 19, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.bird-section {
  position: relative;
  height: fit-content;
  max-width: 400px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #FFF;
  border: 1px solid black;
}
.bird-section::before {
  content: '';
  background: radial-gradient(rgba(31, 65, 19, 0.5) 50%, transparent 33%) ;
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10;
  z-index: -1;
}
.bird-section form {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px dashed rgba(31, 65, 19, 0.5);
  display: grid;
  justify-items: center;
}
.bird-section form input[type=search]{
  width: 90%;
  padding: 10px;
  border-radius: 3px;
  border: solid;
  font-family: 'Permanent Marker';
  font-size: 18px;
  outline: none;
}
.bird-section form input[type=text]:focus{
  border: 3px solid rgba(31, 65, 19, 0.5);
  border-radius: 3px;
}
.bird-section form ul{
  position: absolute;
  top: 65%; /* justo debajo del input */
  left: 0;
  right: 0;
  background: #f8f9fa; /*rgba(31, 65, 19, 0.5)*/
 /* border: 1px solid #ccc;*/
  border-radius: 3px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  margin: 0px;
  margin-left: 30px;
  padding: 0;
  z-index: 10;
 /* oculto por defecto */

}
.bird-section form li:hover{
  background-color: rgba(31, 65, 19, 0.5);

}
.bird-section form input[type=submit]{
  width: 60%;
  font-family: 'Permanent Marker';
  font-size: 18px;
  background-color: rgba(31, 65, 19, 0.5);
  cursor: pointer;
  border-radius: 5px;
}
.bird-section form input[type=submit]:hover {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.art-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-heading figure {
  display: flex;
  justify-content: center;

  
}

.art-heading img {
  width: 200px;
  
}

/* FIN CLASES */

/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
  html {
    
  }
  
}
@media only screen and (max-width: 600px){
 /*
  header {
    margin: 0;
  }
  main {
    flex-direction: column;
    align-items: center ;
  }
  .row {
    flex-direction: column;
  }
  .bird-section{
    order: 1;
  }
  .orders-section{
    order: 2;
    margin-top: 20px !important;
    margin-bottom: 60px;
  }
  .orders-section h2{
    font-size: 1em;
  } 
  .notes-section{
    order: 3;
  }*/
}
@media only screen and (min-width: 768px){
  html {
  }
  
}
@media only screen and (max-width: 768px){
  header {
    margin: 0;
  }
  main {
    flex-direction: column;
    align-items: center ;
  }
  .row {
    flex-direction: column;
  }
  .bird-section{
    order: 1;
  }
  .orders-section{
    order: 2;
    margin-top: 20px !important;
    margin-bottom: 60px;
  }
  .orders-section h2{
    font-size: 1em;
  } 
  .notes-section{
    order: 3;
  }
}
@media only screen and (min-width: 992px){
  html {
  }
}
@media only screen and (min-width: 1200px){
}
/* FIN MEDIA QUERIES */